body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2d2d7b;
    }
    .container {
    text-align: center;
    }
    h1 {
    color: #eaff03;
    }
    #game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    }
    .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #b55d5d;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    cursor: pointer;
    }
    .cell:hover {
    background-color: #981253;
    }
    button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    }
    #status {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #01ed01;
    }
    